/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/10/2016, 03:07:33 PM
    Author     : mich
*/

.espas{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(153, 153, 255);    
}
.espascompra{
    border-radius: 10px; 
}
.footers{
    background-color: #6B6C6E; 
}

.imagentabla{ /*tamano de la tabla*/
max-width: 25px;
max-height: 25px;
width: 25px;
height: 25px;
}
.imagencesta{ /*tamano de la tabla*/
max-width: 35px;
max-height: 35px;
width: 35px;
height: 35px;
}
.prodbusqeuda{
padding-left: 15%
}
.espaciobtn{
    padding: 5%
}
 @media screen and (max-width: 720px) {

     hr{
         visibility: visible
     }
    }